### 1. [데이터 불러오기] MYSQL에서 KOPO_PRODUCT_VOLUME 테이블을 불러온 후 ORACLE 테이블에 KOPO_PY_{이름}_FINAL1 테이블로 생성하세요

In [2]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine
import sqlalchemy

# DB 커넥션 열기
address = 'mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo'
engine_mysql = create_engine(address) 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
query = 'SELECT * FROM KOPO_PRODUCT_VOLUME'
customerData = pd.read_sql_query(query, engine_mysql)

# 데이터 VIEW
print(customerData.head(2))

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0

C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:165: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

In [4]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine
import sqlalchemy

# DB 커넥션 열기
address = 'mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo'
engine_mysql = create_engine(address) 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
query = 'SELECT * FROM KOPO_PRODUCT_VOLUME'
customerData = pd.read_sql_query(query, engine_mysql)

# 데이터 VIEW
print(customerData)

# 데이터 저장: Oracle DB에 저장
address2 = 'oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl'
engine_oracle = create_engine(address2)

resultname='KOPO_PY_정답지_FINAL1'
customerData.head()
#customerData.to_sql(resultname, engine2, if_exists='replace', index=False, dtype={col_name: NVARCHAR for col_name in customerData})

    REGIONID PRODUCTGROUP YEARWEEK     VOLUME
0        A01       ST0002   201512   151750.0
1        A01       ST0001   201520   645626.0
2        A01       ST0002   201520   125863.0
3        A01       ST0001   201515   810144.0
4        A01       ST0002   201515   128999.0
5        A01       ST0001   201518   671464.0
6        A01       ST0002   201518   134467.0
7        A01       ST0001   201513   470040.0
8        A01       ST0002   201513   140297.0
9        A01       ST0001   201511   524787.0
10       A01       ST0002   201511   145509.0
11       A01       ST0001   201516   764927.0
12       A01       ST0002   201516   140313.0
13       A01       ST0001   201519   682757.0
14       A01       ST0002   201519   128668.0
15       A01       ST0001   201514   428195.0
16       A01       ST0002   201514   137488.0
17       A01       ST0001   201512   486509.0
18       A01       ST0001   201517   697502.0
19       A01       ST0002   201517   127163.0
20       A01       ST0001   201507   620392.0
21       A01       ST0002   201507   146476.0
22       A01       ST0001   201510   511679.0
23       A01       ST0002   201510   153152.0
24       A01       ST0001   201502   438251.0
25       A01       ST0002   201502   123875.0
26       A01       ST0001   201505   482381.0
27       A01       ST0002   201505   180516.0
28       A01       ST0001   201508   571781.0
29       A01       ST0002   201508   156772.0
..       ...          ...      ...        ...
129      A01       ST0002   201619   152980.0
130      A01       ST0001   201624   772706.0
131      A01       ST0002   201624   171592.0
132      A01       ST0001   201622   817878.0
133      A01       ST0002   201622   214929.0
134      A01       ST0001   201620   695859.0
135      A01       ST0002   201620   160913.0
136      A01       ST0001   201618   712672.0
137      A01       ST0002   201618   162560.0
138      A01       ST0001   201625   786218.0
139      A01       ST0002   201625   157283.0
140      A01       ST0001   201612   794413.0
141      A01       ST0002   201612   132780.0
142      A01       ST0001   201610  1218194.0
143      A01       ST0002   201610   142575.0
144      A01       ST0001   201617   694920.0
145      A01       ST0002   201617   142279.0
146      A01       ST0001   201615   678467.0
147      A01       ST0002   201615   143180.0
148      A01       ST0001   201613   886427.0
149      A01       ST0002   201613   135788.0
150      A01       ST0001   201611  1011581.0
151      A01       ST0002   201611   150915.0
152      A01       ST0001   201609   635412.0
153      A01       ST0001   201616   658270.0
154      A01       ST0002   201616   137927.0
155      A01       ST0002   201609   154149.0
156      A01       ST0001   201614   739977.0
157      A01       ST0002   201614   148835.0
158      A01       ST0001   201641   746061.0

[159 rows x 4 columns]

C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:165: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

In [16]:
customerData.to_sql(resultname, engine_oracle, if_exists='replace', 
                    index=False, 
                    dtype={"REGIONID": sqlalchemy.NVARCHAR(25),
                           "PRODUCTGROUP": sqlalchemy.NVARCHAR(25),
                           "YEARWEEK":sqlalchemy.NVARCHAR(40),
                           "VOLUME": sqlalchemy.Float})

In [12]:
customerData.to_sql(resultname, 
                   engine_oracle, 
                   if_exists='replace', 
                   index=False, 
                   dtype={col_name: NVARCHAR(50) for col_name in customerData})

### 2. [데이터 조작하기] ORACLE에서 KOPO_PRODUCT_VOLUME 테이블을 불러온 후 2016년도 자료만 남기고 ORACLE 테이블에 KOPO_PY_{이름}_FINAL2 테이블로 생성하세요

In [5]:
#DB테이블을 읽어 Data Frame 변수에 저장하기
pvData2= pd.read_sql_query('SELECT * FROM KOPO_PRODUCT_VOLUME',engine_oracle)

#데이타 VIEW
pvData2.head(2)

  regionid productgroup yearweek    volume
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0

In [6]:
# 컬럼해더 재정의
pvData2.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']
pvData2.head(2)

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0

In [8]:
pvData2.columns = [x.upper() for x in pvData2.columns]
pvData2.head()

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0002   201512  151750.0
1      A01       ST0001   201520  645626.0
2      A01       ST0002   201520  125863.0
3      A01       ST0001   201515  810144.0
4      A01       ST0002   201515  128999.0

In [20]:

# 컬럼해더 재정의
pvData2.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']
pvData2.head(2)

#조건 설정
#pvData2.YEARWEEK.apply(str)
final_pvData2 = pvData2[(pvData2.YEARWEEK.str[2:4]=='16')]
final_pvData2 = pvData2.query(""" YEARWEEK > '201552'  """)

print('전체 행 갯수:',len(final_pvData2))

#Data View
final_pvData2.head(3)

# 데이터 저장
resultname='KOPO_PY_정답지_FINAL2'
final_pvData2.to_sql(resultname, address2, if_exists='replace', index=False
                     ,dtype={"REGIONID": sqlalchemy.NVARCHAR(25),
                           "PRODUCTGROUP": sqlalchemy.NVARCHAR(25),
                           "YEARWEEK":sqlalchemy.NVARCHAR(40),
                           "VOLUME": sqlalchemy.Float})

전체 행 갯수: 55

### 3. [스크래핑] https://www.timeanddate.com/holidays/south-korea/ 사이트에서 화면에 보이는 테이블의 holiday정보를 스크래핑 하여 아래 이미지와 동일한 컬럼의 정보를 추출한 후 KOPO_PY_{이름}_FINAL3 테이블로 생성하세요 [심심하면 Date도 같이..저장하세요]

In [34]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('https://www.timeanddate.com/holidays/south-korea')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')

contents=bs.select('table  > tbody > tr')
dfcontent=[]
alldfcontents=[]

In [40]:
contents[0]

In [53]:
# for content in contents:
tdhs=contents[0].findAll(["th","td"])
tdhs

[<th class="nw">Jan 1</th>,
 <td class="nw">Monday</td>,
 <td><a href="/holidays/southkorea/new-year-day">New Year's Day</a></td>,
 <td>National holiday</td>]

In [54]:
# for content in contents:
tdhs=contents[0].select("th,td")
tdhs

[<th class="nw">Jan 1</th>,
 <td class="nw">Monday</td>,
 <td><a href="/holidays/southkorea/new-year-day">New Year's Day</a></td>,
 <td>National holiday</td>]

In [46]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('https://www.timeanddate.com/holidays/south-korea')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')

contents=bs.select('table  > tbody > tr')

dfcontent=[]
alldfcontents=[]

# ths=contents[0].select("th,td")
tdhs=contents[0].findAll(["th","td"])
tdhs

[<th class="nw">Jan 1</th>,
 <td class="nw">Monday</td>,
 <td><a href="/holidays/southkorea/new-year-day">New Year's Day</a></td>,
 <td>National holiday</td>]

In [43]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('https://www.timeanddate.com/holidays/south-korea')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')

contents=bs.select('table  > tbody > tr')

dfcontent=[]
alldfcontents=[]

for content in contents:
    ths=content.select("th,td")
    tds=content.select("td")
    for th in ths:
        dfcontent.append(th.text)
    for td in tds:
        dfcontent.append(td.text)
    alldfcontents.append(dfcontent)
    dfcontent=[]
aa = pd.DataFrame(alldfcontents)

         0          1                              2                 3
0    Jan 1     Monday                 New Year's Day  National holiday
1    Feb 9     Friday     2018 Winter Olympics start        Observance
2   Feb 14  Wednesday                Valentine's Day        Observance
3   Feb 15   Thursday                Seollal Holiday  National holiday
4   Feb 16     Friday                        Seollal  National holiday
5   Feb 17   Saturday                Seollal Holiday  National holiday
6   Feb 25     Sunday       2018 Winter Olympics end        Observance
7    Mar 1   Thursday      Independence Movement Day  National holiday
8    Mar 9     Friday  2018 Winter Paralympics start        Observance
9   Mar 18     Sunday    2018 Winter Paralympics end        Observance
10  Mar 20    Tuesday                  March equinox            Season
11   Apr 5   Thursday                      Arbor Day        Observance
12   May 1    Tuesday                      Labor Day      Bank Holiday
13   May 5   Saturday                 Children's Day  National holiday
14   May 7     Monday        Children's Day observed  National holiday
15   May 8    Tuesday                   Parents' Day        Observance
16  May 15    Tuesday                  Teacher's Day        Observance
17  May 22    Tuesday              Buddha's Birthday  National holiday
18   Jun 6  Wednesday                   Memorial Day  National holiday
19  Jun 13  Wednesday             Local Election Day  National holiday
20  Jun 21   Thursday                  June Solstice            Season
21  Jul 17    Tuesday               Constitution Day        Observance
22  Aug 15  Wednesday                 Liberation Day  National holiday
23  Sep 23     Sunday              September equinox            Season
24  Sep 23     Sunday                Chuseok Holiday  National holiday
25  Sep 24     Monday                        Chuseok  National holiday
26  Sep 25    Tuesday                Chuseok Holiday  National holiday
27  Sep 26  Wednesday                Chuseok Holiday  National holiday
28   Oct 1     Monday               Armed Forces Day        Observance
29   Oct 3  Wednesday        National Foundation Day  National holiday
30   Oct 9    Tuesday       Hangeul Proclamation Day  National holiday
31  Oct 31  Wednesday                      Halloween        Observance
32  Dec 21     Friday              December Solstice            Season
33  Dec 24     Monday                  Christmas Eve        Observance
34  Dec 25    Tuesday                  Christmas Day  National holiday
35  Dec 31     Monday                 New Year's Eve        Observance

In [37]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('https://www.timeanddate.com/holidays/south-korea')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')

contents=bs.select('table  > tbody > tr')

#tr0 > td.nw

dfcontent=[]
alldfcontents=[]

for content in contents:
    tdhs=content.select("th,td")
    for tdh in tdhs:
        dfcontent.append(tdh.text)
    alldfcontents.append(dfcontent)
    dfcontent=[]
df=pd.DataFrame(data=alldfcontents)

df.columns = ["DATE","WEEK","HOLIDAY_NAME","HOLIDAY_TYPE"]
df

      DATE       WEEK                   HOLIDAY_NAME      HOLIDAY_TYPE
0    Jan 1     Monday                 New Year's Day  National holiday
1    Feb 9     Friday     2018 Winter Olympics start        Observance
2   Feb 14  Wednesday                Valentine's Day        Observance
3   Feb 15   Thursday                Seollal Holiday  National holiday
4   Feb 16     Friday                        Seollal  National holiday
5   Feb 17   Saturday                Seollal Holiday  National holiday
6   Feb 25     Sunday       2018 Winter Olympics end        Observance
7    Mar 1   Thursday      Independence Movement Day  National holiday
8    Mar 9     Friday  2018 Winter Paralympics start        Observance
9   Mar 18     Sunday    2018 Winter Paralympics end        Observance
10  Mar 20    Tuesday                  March equinox            Season
11   Apr 5   Thursday                      Arbor Day        Observance
12   May 1    Tuesday                      Labor Day      Bank Holiday
13   May 5   Saturday                 Children's Day  National holiday
14   May 7     Monday        Children's Day observed  National holiday
15   May 8    Tuesday                   Parents' Day        Observance
16  May 15    Tuesday                  Teacher's Day        Observance
17  May 22    Tuesday              Buddha's Birthday  National holiday
18   Jun 6  Wednesday                   Memorial Day  National holiday
19  Jun 13  Wednesday             Local Election Day  National holiday
20  Jun 21   Thursday                  June Solstice            Season
21  Jul 17    Tuesday               Constitution Day        Observance
22  Aug 15  Wednesday                 Liberation Day  National holiday
23  Sep 23     Sunday              September equinox            Season
24  Sep 23     Sunday                Chuseok Holiday  National holiday
25  Sep 24     Monday                        Chuseok  National holiday
26  Sep 25    Tuesday                Chuseok Holiday  National holiday
27  Sep 26  Wednesday                Chuseok Holiday  National holiday
28   Oct 1     Monday               Armed Forces Day        Observance
29   Oct 3  Wednesday        National Foundation Day  National holiday
30   Oct 9    Tuesday       Hangeul Proclamation Day  National holiday
31  Oct 31  Wednesday                      Halloween        Observance
32  Dec 21     Friday              December Solstice            Season
33  Dec 24     Monday                  Christmas Eve        Observance
34  Dec 25    Tuesday                  Christmas Day  National holiday
35  Dec 31     Monday                 New Year's Eve        Observance

In [23]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('https://www.timeanddate.com/holidays/south-korea')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')

contents=bs.select('table  > tbody > tr')
dfcontent=[]
alldfcontents=[]

for content in contents:
    tdhs=content.findAll("td")
    ths=content.findAll("th")
    for th in ths:
        dfcontent.append(th.text)
    for td in tds:
        dfcontent.append(td.text)
    alldfcontents.append(dfcontent)
    dfcontent=[]
df=pd.DataFrame(data=alldfcontents)

df.columns = ["DATE","WEEK","HOLIDAY_NAME","HOLIDAY_TYPE"]
df

      DATE       WEEK                   HOLIDAY_NAME      HOLIDAY_TYPE
0    Jan 1     Monday                 New Year's Day  National holiday
1    Feb 9     Friday     2018 Winter Olympics start        Observance
2   Feb 14  Wednesday                Valentine's Day        Observance
3   Feb 15   Thursday                Seollal Holiday  National holiday
4   Feb 16     Friday                        Seollal  National holiday
5   Feb 17   Saturday                Seollal Holiday  National holiday
6   Feb 25     Sunday       2018 Winter Olympics end        Observance
7    Mar 1   Thursday      Independence Movement Day  National holiday
8    Mar 9     Friday  2018 Winter Paralympics start        Observance
9   Mar 18     Sunday    2018 Winter Paralympics end        Observance
10  Mar 20    Tuesday                  March equinox            Season
11   Apr 5   Thursday                      Arbor Day        Observance
12   May 1    Tuesday                      Labor Day      Bank Holiday
13   May 5   Saturday                 Children's Day  National holiday
14   May 7     Monday        Children's Day observed  National holiday
15   May 8    Tuesday                   Parents' Day        Observance
16  May 15    Tuesday                  Teacher's Day        Observance
17  May 22    Tuesday              Buddha's Birthday  National holiday
18   Jun 6  Wednesday                   Memorial Day  National holiday
19  Jun 13  Wednesday             Local Election Day  National holiday
20  Jun 21   Thursday                  June Solstice            Season
21  Jul 17    Tuesday               Constitution Day        Observance
22  Aug 15  Wednesday                 Liberation Day  National holiday
23  Sep 23     Sunday              September equinox            Season
24  Sep 23     Sunday                Chuseok Holiday  National holiday
25  Sep 24     Monday                        Chuseok  National holiday
26  Sep 25    Tuesday                Chuseok Holiday  National holiday
27  Sep 26  Wednesday                Chuseok Holiday  National holiday
28   Oct 1     Monday               Armed Forces Day        Observance
29   Oct 3  Wednesday        National Foundation Day  National holiday
30   Oct 9    Tuesday       Hangeul Proclamation Day  National holiday
31  Oct 31  Wednesday                      Halloween        Observance
32  Dec 21     Friday              December Solstice            Season
33  Dec 24     Monday                  Christmas Eve        Observance
34  Dec 25    Tuesday                  Christmas Day  National holiday
35  Dec 31     Monday                 New Year's Eve        Observance

In [21]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('https://www.timeanddate.com/holidays/south-korea/')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')

contents1=bs.findAll("tr")
contents1
alldfcontents=[]
for content in contents1:
    tds=content.select("th,td") # contents1을 for문을 통해 content에 배열로 재정의후 tds에 th,td속성만 저장
    for td in tds:
        td2 = td.text # 위에 저장된 tds를 for문을 통해 td값에 저장후 td.text를 통해 text 값만 가지고옴
        dfcontent.append(td2) # td2에 저장된 값을 dfcontent배열에 append해줌
    alldfcontents.append(dfcontent) # dfcontent배열값을 최종 alldfcontents에 append해줌
    dfcontent=[]
df=pd.DataFrame( data=alldfcontents, index=None)

df.columns=["Date","Weekday","Holiday Name", "Holiday Type"]
dfc1 = df.iloc[2:,:]
dfc1
# # #dfc1.to_csv("../dataset/KOPO_PY_psj2_FINAL3.csv", encoding='utf-8-sig',index=False)

NameError: name 'dfcontent' is not defined

In [22]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('https://www.timeanddate.com/holidays/south-korea/')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')
columns=bs.findAll("th",{"rowspan":"2"})
columns
columnlist=[]
for column in columns:
    columnlist.append(column.text)
df=pd.DataFrame(columns=columnlist)
df

contents1=bs.findAll("tr")
contents1
alldfcontents=[]
for content in contents1:
    tds=content.select("th,td") # contents1을 for문을 통해 content에 배열로 재정의후 tds에 th,td속성만 저장
    for td in tds:
        td2 = td.text # 위에 저장된 tds를 for문을 통해 td값에 저장후 td.text를 통해 text 값만 가지고옴
        dfcontent.append(td2) # td2에 저장된 값을 dfcontent배열에 append해줌
    alldfcontents.append(dfcontent) # dfcontent배열값을 최종 alldfcontents에 append해줌
    dfcontent=[]
df=pd.DataFrame(columns=columnlist, data=alldfcontents, index=None)

df.columns=["Date","Weekday","Holiday Name", "Holiday Type"]
dfc1 = df.iloc[2:,:]
dfc1
# # #dfc1.to_csv("../dataset/KOPO_PY_psj2_FINAL3.csv", encoding='utf-8-sig',index=False)

NameError: name 'dfcontent' is not defined