### 퀴즈 정답(그룹바이에 슬라이딩 적용한 것)

### 1. 데이터 불러오기(Oracle XE: 112)

In [ ]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine
 
# DB 커넥션 열기
###### adress : 서버 ID + PASSWORD + IP ADRESS + PORT NUMBER + SERVICE NAME
address = 'oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl'
engine = create_engine(address) 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
##### query : Sql 쿼리문
query = 'SELECT * FROM KOPO_CHANNEL_SEASONALITY_NEW'
customerData = pd.read_sql_query(query, engine)

# 컬럼헤더를 대문자로 재정의 
customerData.columns = [x.upper() for x in customerData.columns]
customerData.head()

In [172]:
import pandas as pd 
customerData = pd.read_csv("data_comma.csv")

### 2. 데이터 탐색하기

In [159]:
# 데이터 VIEW
customerData.head()

  REGIONID    PRODUCT  YEARWEEK   QTY
0      A00  PRODUCT34    201401  661
1      A00  PRODUCT34    201402  679
2      A00  PRODUCT34    201403  578
3      A00  PRODUCT34    201404  532
4      A00  PRODUCT34    201405  516

- 데이터 프레임의 여러 속성 및 메소드 중 데이터 탐색 시 유용한 것들

In [173]:
# DataFrame.shape를 사용해서 행(row)와 열(column)의 개수를 확인 => 속성
# DataFrame.dtypes를 사용해서 컬럼의 속성을 확인 => 속성
# DataFrame.index와 DataFrame.columns를 이용해서 행과 열의 values를 확인 => 속성

# DataFrame.describe()를 사용해서 수치형 컬럼들의 요약값 확인 => ()로 끝나는 것은 메소드


print('-'*10 + "Data Set: FROM KOPO_CHANNEL_SEASONALITY_NEW 탐색" + '-'*10 )
print("Data Shape : " ,customerData.shape )
print("Data Types : " ,customerData.dtypes )
print('-'*70 )
print("Column Name : " ,customerData.columns.values )
print("Index Name : " ,customerData.index.values )
print("Data Describe : " ,customerData.describe())

----------Data Set: FROM KOPO_CHANNEL_SEASONALITY_NEW 탐색----------
Data Shape :  (64999, 4)
Data Types :  REGIONID    object
PRODUCT     object
YEARWEEK     int64
QTY         object
dtype: object
----------------------------------------------------------------------
Column Name :  ['REGIONID' 'PRODUCT' 'YEARWEEK' 'QTY']
Index Name :  [    0     1     2 ..., 64996 64997 64998]
Data Describe :              YEARWEEK
count   64999.000000
mean   201463.762796
std        54.252745
min    201401.000000
25%    201421.000000
50%    201441.000000
75%    201511.000000
max    201626.000000

In [199]:
# 데이터 프레임의 자료형 변환 (수치형 float, int //  문자형 str )

customerData['YEARWEEK'] = customerData['YEARWEEK'].astype(str)
customerData['QTY'] = customerData['QTY'].astype(int) 
print("Data Types : " ,customerData.dtypes )

# 자료형 변환시 평균값은 파이썬에서 자동으로 float으로 변환해준다.

ValueError: invalid literal for int() with base 10: '9,988 '

In [198]:
# csv파일의 수치형 데이터의 천단위 콤마 제거
# 위의 타입변환 에러가 남 ==> ValueError: invalid literal for int() with base 10: '9,988 '
aa=customerData[(customerData.filter(like= ','))]
aa

      REGIONID PRODUCT YEARWEEK  QTY
0          NaN     NaN      NaN  NaN
1          NaN     NaN      NaN  NaN
2          NaN     NaN      NaN  NaN
3          NaN     NaN      NaN  NaN
4          NaN     NaN      NaN  NaN
5          NaN     NaN      NaN  NaN
6          NaN     NaN      NaN  NaN
7          NaN     NaN      NaN  NaN
8          NaN     NaN      NaN  NaN
9          NaN     NaN      NaN  NaN
10         NaN     NaN      NaN  NaN
11         NaN     NaN      NaN  NaN
12         NaN     NaN      NaN  NaN
13         NaN     NaN      NaN  NaN
14         NaN     NaN      NaN  NaN
15         NaN     NaN      NaN  NaN
16         NaN     NaN      NaN  NaN
17         NaN     NaN      NaN  NaN
18         NaN     NaN      NaN  NaN
19         NaN     NaN      NaN  NaN
20         NaN     NaN      NaN  NaN
21         NaN     NaN      NaN  NaN
22         NaN     NaN      NaN  NaN
23         NaN     NaN      NaN  NaN
24         NaN     NaN      NaN  NaN
25         NaN     NaN      NaN  NaN
26         NaN     NaN      NaN  NaN
27         NaN     NaN      NaN  NaN
28         NaN     NaN      NaN  NaN
29         NaN     NaN      NaN  NaN
...        ...     ...      ...  ...
64969      NaN     NaN      NaN  NaN
64970      NaN     NaN      NaN  NaN
64971      NaN     NaN      NaN  NaN
64972      NaN     NaN      NaN  NaN
64973      NaN     NaN      NaN  NaN
64974      NaN     NaN      NaN  NaN
64975      NaN     NaN      NaN  NaN
64976      NaN     NaN      NaN  NaN
64977      NaN     NaN      NaN  NaN
64978      NaN     NaN      NaN  NaN
64979      NaN     NaN      NaN  NaN
64980      NaN     NaN      NaN  NaN
64981      NaN     NaN      NaN  NaN
64982      NaN     NaN      NaN  NaN
64983      NaN     NaN      NaN  NaN
64984      NaN     NaN      NaN  NaN
64985      NaN     NaN      NaN  NaN
64986      NaN     NaN      NaN  NaN
64987      NaN     NaN      NaN  NaN
64988      NaN     NaN      NaN  NaN
64989      NaN     NaN      NaN  NaN
64990      NaN     NaN      NaN  NaN
64991      NaN     NaN      NaN  NaN
64992      NaN     NaN      NaN  NaN
64993      NaN     NaN      NaN  NaN
64994      NaN     NaN      NaN  NaN
64995      NaN     NaN      NaN  NaN
64996      NaN     NaN      NaN  NaN
64997      NaN     NaN      NaN  NaN
64998      NaN     NaN      NaN  NaN

[64999 rows x 4 columns]

In [202]:
#DataFrame의 replace 함수를 사용해 이상치인 ','를 공백으로 교체하여 보정
customerData['QTY'].repalce(',','',inplace="True")

AttributeError: 'Series' object has no attribute 'repalce'

In [201]:
#천단위 콤마 제거
def delComma(s):
    if s == False:
        return 0
    elif s != False:
        return s.replace(',', '').strip()
    
comm=[delComma(x) for x in customerData["QTY"]]
comm

['661',
 '679',
 '578',
 '532',
 '516',
 '423',
 '407',
 '364',
 '470',
 '538',
 '369',
 '352',
 '354',
 '312',
 '295',
 '284',
 '237',
 '180',
 '161',
 '140',
 '116',
 '98',
 '83',
 '71',
 '65',
 '60',
 '82',
 '151',
 '274',
 '532',
 '449',
 '433',
 '364',
 '346',
 '312',
 '244',
 '227',
 '191',
 '191',
 '184',
 '145',
 '198',
 '195',
 '142',
 '156',
 '199',
 '250',
 '162',
 '119',
 '215',
 '122',
 '122',
 '151',
 '191',
 '107',
 '154',
 '66',
 '60',
 '52',
 '42',
 '59',
 '82',
 '55',
 '26',
 '66',
 '34',
 '34',
 '49',
 '37',
 '39',
 '62',
 '33',
 '77',
 '99',
 '122',
 '187',
 '206',
 '114',
 '108',
 '133',
 '125',
 '94',
 '45',
 '25',
 '4',
 '5',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '5',
 '3',
 '16',
 '8',
 '11',
 '14',
 '13',
 '4',
 '6',
 '6',
 '9',
 '1',
 '2',
 '0',
 '2',
 '2',
 '2',
 '2',
 '3',
 '1',
 '1',
 '3',
 '1',
 '1',
 '2',
 '2',
 '0',
 '0',
 '1',
 '3',
 '2',
 '7',
 '2',
 '4',
 '4',
 '4',
 '4',
 '3',
 '3',
 '39',
 '14',
 '13',
 '15',
 '8',
 '17',
 '5',
 '4',
 '5',
 '6',
 '6',
 '5',
 '11',
 '3',
 '5',
 '1',
 '2',
 '2',
 '3',
 '2',
 '2',
 '3',
 '1',
 '4',
 '2',
 '14',
 '61',
 '652',
 '718',
 '9988',
 '9005',
 '8416',
 '8553',
 '10355',
 '13799',
 '17292',
 '16369',
 '15047',
 '15895',
 '16255',
 '17339',
 '17419',
 '22482',
 '22007',
 '19690',
 '17791',
 '16455',
 '17133',
 '18901',
 '21135',
 '22455',
 '25364',
 '25368',
 '23751',
 '25772',
 '25533',
 '26506',
 '26775',
 '32364',
 '30998',
 '32942',
 '34274',
 '37959',
 '40969',
 '42082',
 '40887',
 '40354',
 '42466',
 '50798',
 '42274',
 '38806',
 '35817',
 '35331',
 '34145',
 '36606',
 '39486',
 '38450',
 '42222',
 '38989',
 '41260',
 '43443',
 '47907',
 '48091',
 '48778',
 '47553',
 '51979',
 '49074',
 '45959',
 '41829',
 '41715',
 '41588',
 '45783',
 '42100',
 '47225',
 '46169',
 '43817',
 '38566',
 '38993',
 '43312',
 '40684',
 '49677',
 '67180',
 '62623',
 '59589',
 '61313',
 '60059',
 '62104',
 '57842',
 '60563',
 '63051',
 '57020',
 '52690',
 '42199',
 '26455',
 '22426',
 '14115',
 '9169',
 '21350',
 '9457',
 '10254',
 '10327',
 '9581',
 '10156',
 '9045',
 '8141',
 '7635',
 '7703',
 '7295',
 '6199',
 '7016',
 '6390',
 '6705',
 '5937',
 '5640',
 '5765',
 '6277',
 '7204',
 '6809',
 '7893',
 '6882',
 '7918',
 '7247',
 '6685',
 '6729',
 '5868',
 '8149',
 '7174',
 '9054',
 '6319',
 '11116',
 '6818',
 '7434',
 '9639',
 '7005',
 '7269',
 '6602',
 '5676',
 '6270',
 '5579',
 '8443',
 '7667',
 '10508',
 '17837',
 '13068',
 '11745',
 '13365',
 '14239',
 '10650',
 '7214',
 '6246',
 '8347',
 '10760',
 '6609',
 '6153',
 '6807',
 '7799',
 '5948',
 '5421',
 '5147',
 '5325',
 '4594',
 '4394',
 '4316',
 '4451',
 '3768',
 '4920',
 '6981',
 '4714',
 '4740',
 '5265',
 '4115',
 '4760',
 '4545',
 '5086',
 '6310',
 '10117',
 '6333',
 '2195',
 '1831',
 '1639',
 '225',
 '203',
 '236',
 '203',
 '246',
 '277',
 '240',
 '260',
 '314',
 '330',
 '336',
 '422',
 '293',
 '278',
 '525',
 '237',
 '247',
 '297',
 '316',
 '280',
 '296',
 '280',
 '264',
 '301',
 '294',
 '314',
 '465',
 '360',
 '407',
 '349',
 '419',
 '283',
 '426',
 '320',
 '386',
 '359',
 '347',
 '308',
 '304',
 '330',
 '333',
 '228',
 '476',
 '402',
 '365',
 '233',
 '504',
 '1218',
 '793',
 '570',
 '880',
 '1023',
 '714',
 '523',
 '461',
 '504',
 '553',
 '405',
 '426',
 '643',
 '403',
 '358',
 '392',
 '447',
 '1495',
 '18199',
 '17733',
 '14935',
 '14667',
 '14219',
 '25697',
 '21223',
 '20109',
 '30410',
 '17720',
 '28577',
 '27837',
 '27308',
 '38611',
 '29701',
 '24662',
 '42899',
 '42732',
 '37449',
 '18722',
 '14310',
 '17331',
 '21018',
 '24596',
 '17662',
 '23494',
 '21528',
 '19137',
 '16086',
 '14790',
 '15900',
 '15502',
 '13936',
 '13785',
 '13920',
 '13662',
 '14287',
 '12272',
 '11964',
 '13429',
 '15412',
 '13513',
 '18768',
 '12215',
 '12312',
 '16818',
 '13874',
 '13530',
 '13491',
 '14911',
 '15665',
 '17865',
 '20541',
 '22350',
 '24198',
 '17944',
 '18037',
 '13437',
 '14394',
 '13300',
 '13191',
 '12703',
 '13539',
 '15394',
 '16729',
 '35079',
 '196162',
 '49926',
 '25555',
 '44725',
 '55201',
 '23645',
 '14214',
 '13423',
 '15861',
 '22214',
 '17085',
 '18554',
 '17793',
 '17048',
 '15411',
 '13731',
 '12116',
 '10390',
 '11953',
 '12416',
 '13689',
 '14051',
 '13164',
 '15046',
 '19646',
 '18061',
 '22372',
 '15204',
 '18175',
 '16385',
 '9519',
 '21773',
 '36527',
 '22298',
 '17198',
 '24686',
 '23208',
 '0',
 '1',
 '0',
 '0',
 '0',
 '6',
 '0',
 '0',
 '0',
 '1',
 '0',
 '8',
 '1',
 '1',
 '2',
 '-1',
 '1',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '-1',
 '3',
 '0',
 '0',
 '1',
 '0',
 '0',
 '0',
 '0',
 '0',
 '2',
 '2',
 '0',
 '1',
 '0',
 '9',
 '0',
 '2',
 '0',
 '70',
 '5',
 '701',
 '31',
 '0',
 '1',
 '30',
 '0',
 '2',
 '39',
 '17',
 '21',
 '10',
 '660',
 '979',
 '18',
 '0',
 '33',
 '24',
 '52',
 '0',
 '0',
 '39',
 '2572',
 '0',
 '8',
 '7',
 '46',
 '63',
 '109',
 '638',
 '784',
 '189',
 '208',
 '-24',
 '-6',
 '12',
 '36',
 '26',
 '117',
 '311',
 '174',
 '1153',
 '868',
 '789',
 '792',
 '972',
 '878',
 '1024',
 '1401',
 '978',
 '1245',
 '1487',
 '1160',
 '1785',
 '627',
 '719',
 '1276',
 '1303',
 '1083',
 '1181',
 '1161',
 '1557',
 '1044',
 '855',
 '1189',
 '803',
 '1176',
 '1196',
 '1440',
 '1235',
 '1197',
 '1449',
 '962',
 '937',
 '1028',
 '1475',
 '779',
 '1483',
 '1197',
 '971',
 '804',
 '1379',
 '1337',
 '2533',
 '1057',
 '1358',
 '877',
 '1086',
 '853',
 '1039',
 '1138',
 '1187',
 '450',
 '1839',
 '810',
 '2082',
 '1532',
 '826',
 '1192',
 '2406',
 '1148',
 '1131',
 '931',
 '1890',
 '1808',
 '2304',
 '1949',
 '1060',
 '2136',
 '2107',
 '1860',
 '2164',
 '1582',
 '1245',
 '1560',
 '1112',
 '2771',
 '754',
 '1712',
 '877',
 '1911',
 '2864',
 '3097',
 '3028',
 '2632',
 '164',
 '102',
 '105',
 '258',
 '160',
 '156',
 '110',
 '126',
 '115',
 '81',
 '97',
 '133',
 '173',
 '122',
 '91',
 '195',
 '197',
 '329',
 '216',
 '156',
 '145',
 '89',
 '248',
 '82',
 '84',
 '170',
 '105',
 '127',
 '148',
 '175',
 '238',
 '100',
 '98',
 '293',
 '817',
 '293',
 '214',
 '252',
 '208',
 '140',
 '1761',
 '137',
 '125',
 '122',
 '133',
 '109',
 '124',
 '145',
 '143',
 '120',
 '180',
 '38',
 '168',
 '71',
 '140',
 '197',
 '220',
 '112',
 '187',
 '109',
 '302',
 '122',
 '72',
 '98',
 '162',
 '138',
 '246',
 '253',
 '165',
 '126',
 '121',
 '145',
 '237',
 '205',
 '179',
 '257',
 '215',
 '177',
 '208',
 '74',
 '446',
 '128',
 '166',
 '160',
 '74',
 '139564',
 '109173',
 '119281',
 '139609',
 '167828',
 '124848',
 '157644',
 '162431',
 '147877',
 '145733',
 '132535',
 '130579',
 '126000',
 '113860',
 '104570',
 '100982',
 '106117',
 '115972',
 '115085',
 '114351',
 '117926',
 '128496',
 '113654',
 '131526',
 '120297',
 '126252',
 '155552',
 '120184',
 '121832',
 '105751',
 '122777',
 '117527',
 '136721',
 '141016',
 '164607',
 '154701',
 '114136',
 '124227',
 '112610',
 '119671',
 '122723',
 '112298',
 '111227',
 '117537',
 '137746',
 '131289',
 '302648',
 '1331075',
 '455488',
 '218449',
 '336189',
 '308516',
 '155729',
 '123875',
 '114744',
 '137162',
 '180516',
 '139277',
 '146476',
 '156772',
 '141823',
 '153152',
 '145509',
 '151750',
 '140297',
 '128999',
 '140313',
 '127163',
 '134467',
 '128668',
 '125863',
 '142598',
 '150105',
 '149570',
 '210006',
 '132870',
 '139629',
 '127720',
 '133493',
 '184242',
 '294579',
 '232523',
 '160913',
 '214929',
 '161983',
 '9844',
 '6363',
 '8022',
 '7562',
 '6035',
 '8858',
 '9796',
 '10811',
 '9000',
 '9286',
 '9027',
 '8027',
 '8538',
 '7806',
 '7329',
 '8541',
 '7175',
 '7180',
 '8466',
 '8890',
 '14630',
 '19391',
 '10713',
 '12021',
 '13195',
 '16541',
 '29610',
 '22121',
 '8134',
 '8945',
 '10063',
 '11522',
 '11954',
 '13129',
 '17869',
 '24066',
 '8806',
 '9144',
 '9587',
 '10496',
 '9192',
 '9785',
 '8647',
 '7988',
 '18460',
 '23362',
 '21941',
 '40851',
 '27594',
 '10559',
 '10533',
 '12375',
 '16169',
 '12456',
 '10392',
 '13345',
 '12458',
 '11788',
 '17481',
 '18024',
 '12654',
 '10142',
 '10376',
 '13285',
 '12602',
 '11909',
 '12250',
 '12173',
 '13348',
 '14329',
 '15507',
 '30723',
 '13769',
 '16895',
 '24698',
 '22254',
 '12760',
 '15467',
 '9463',
 '32530',
 '19492',
 '24082',
 '16846',
 '30657',
 '19811',
 '5684',
 '4049',
 '3689',
 '4341',
 '3379',
 '4208',
 '6211',
 '3608',
 '3824',
 '3694',
 '4213',
 '5746',
 '4566',
 '4389',
 '5129',
 '4758',
 '3644',
 '3841',
 '5222',
 '3816',
 '5721',
 '4975',
 '4195',
 '5071',
 '3594',
 '3827',
 '5473',
 '4432',
 '5735',
 '5295',
 '4381',
 '5462',
 '5059',
 '6408',
 '5178',
 '5298',
 '3530',
 '5168',
 '3679',
 '4398',
 '3674',
 '4411',
 '3575',
 '4153',
 '5548',
 '5013',
 '5213',
 '8662',
 '9339',
 '6854',
 '11435',
 '11225',
 '7420',
 '4587',
 '5314',
 '4221',
 '7412',
 '5440',
 '6147',
 '4903',
 '5745',
 '5458',
 '3591',
 '3869',
 '4283',
 '3747',
 ...]

In [122]:
# 컬럼헤더를 대문자로 재정의 
customerData.columns = [x.upper() for x in customerData.columns]
customerData.head()

  REGIONID    PRODUCT YEARWEEK  QTY
0      A00  PRODUCT34   201401  661
1      A00  PRODUCT34   201402  679
2      A00  PRODUCT34   201403  578
3      A00  PRODUCT34   201404  532
4      A00  PRODUCT34   201405  516

In [123]:
# 정렬된 데이터를 새로운 변수로 지정해준다(정렬을 풀리지 않도록 하는 방법1)
sortCustomerData=customerData.sort_values(["REGIONID","PRODUCT","YEARWEEK"], ascending=[True,True,True])
sortCustomerData.head()

# 여기까지만 출력해서 보면 정렬된 데이터가 풀리지 않는다
# 하지만 인덱스는 여전히 뒤죽박죽

  REGIONID    PRODUCT YEARWEEK  QTY
0      A00  PRODUCT34   201401  661
1      A00  PRODUCT34   201402  679
2      A00  PRODUCT34   201403  578
3      A00  PRODUCT34   201404  532
4      A00  PRODUCT34   201405  516

In [124]:
# 인덱스 초기화 (방법2: 확실한 처리를 위해 정렬을 한 후 인덱스를 초기화 해주어야 한다)
sortedData = sortCustomerData.reset_index(drop=True)
sortedData.head()

  REGIONID    PRODUCT YEARWEEK  QTY
0      A00  PRODUCT34   201401  661
1      A00  PRODUCT34   201402  679
2      A00  PRODUCT34   201403  578
3      A00  PRODUCT34   201404  532
4      A00  PRODUCT34   201405  516

### 3. 이동평균 구하기(Rolling 연산)

In [125]:
import math

# 이동평균 구간
order = 13

# 앞뒤로 비어있게 될 구간 크기
suborder = math.floor(order/2)
suborder

6

In [126]:
# rolling 연산 설명: 이동평균 구간의 중간값을 기준으로 앞뒤로 비어있게 될 구간에 해당하는 범위에 수치형 컬럼인 QTY 평균값을 넣는다.
# 예를 들어 5의 중간값인 3을 기준으로 위쪽 1,2  + 중간값 3 + 아래쪽 4,5까지 총 5 구간의 평균을 구하는 것  

sortedData["MA"] = sortedData["QTY"].rolling(window = order, center =True).mean() #13이 들어가는지 확인

In [127]:
sortedData.head(13)

   REGIONID    PRODUCT YEARWEEK  QTY          MA
0       A00  PRODUCT34   201401  661         NaN
1       A00  PRODUCT34   201402  679         NaN
2       A00  PRODUCT34   201403  578         NaN
3       A00  PRODUCT34   201404  532         NaN
4       A00  PRODUCT34   201405  516         NaN
5       A00  PRODUCT34   201406  423         NaN
6       A00  PRODUCT34   201407  407  480.230769
7       A00  PRODUCT34   201408  364  453.384615
8       A00  PRODUCT34   201409  470  423.846154
9       A00  PRODUCT34   201410  538  401.230769
10      A00  PRODUCT34   201411  369  378.538462
11      A00  PRODUCT34   201412  352  352.692308
12      A00  PRODUCT34   201413  354  332.538462

In [141]:
sortedData.tail(13)

      REGIONID    PRODUCT YEARWEEK   QTY           MA
64986      A77  PRODUCT12   201516  2798  3606.615385
64987      A77  PRODUCT12   201517  4089  3614.384615
64988      A77  PRODUCT12   201518  2953  3676.615385
64989      A77  PRODUCT12   201520  3671  3666.846154
64990      A77  PRODUCT12   201533  3532  3712.230769
64991      A77  PRODUCT12   201535  3930  3737.384615
64992      A77  PRODUCT12   201536  3142  3757.307692
64993      A77  PRODUCT12   201538  2783          NaN
64994      A77  PRODUCT12   201541  4052          NaN
64995      A77  PRODUCT12   201542  4530          NaN
64996      A77  PRODUCT12   201606  4320          NaN
64997      A77  PRODUCT12   201622  4887          NaN
64998      A77  PRODUCT12   201625  4158          NaN

In [128]:
#디버깅 함수
#99 번 이동평균 (인덱스 기준으로 0부터 시작:  사실 210번)
val1 = sortedData["QTY"][93:106]
print("99번 위아래 6개씩 총 13구간의 평균",val1.mean())
val1

99번 위아래 6개씩 총 13구간의 평균 0.6153846153846154

93     0
94     0
95     0
96     0
97     0
98     0
99     0
100    0
101    0
102    0
103    0
104    5
105    3
Name: QTY, dtype: int32

In [129]:
point = 99
val1 = sortedData["QTY"][point-suborder:(point+suborder)+1]
print("loc를 쓰지 않은 경우: 인덱싱",val1.mean())
#val1

loc를 쓰지 않은 경우: 인덱싱 0.6153846153846154

In [130]:
val1=sortedData.loc[point-suborder:point+suborder,['QTY']]
print("loc를 쓰는 경우: 라벨 인덱싱", val2.mean())
#val1
#loc는 라벨 슬라이싱 방법을 따르게 된다. 즉, 슬라이스의 마지막 값이 포함된다. 아래의 사이트를 참고함
#https://datascienceschool.net/view-notebook/704731b41f794b8ea00768f5b0904512/

loc를 쓰는 경우: 라벨 인덱싱 0.6153846153846154

In [131]:
# val2 = sortedData.loc[point:point,['MA']] # sortedData.[point:point+1,['MA']]
# val2
val2=sortedData['MA'][point:point+1]
print("롤링 연산을 통해 구한 이동평균값:",val2)

롤링 연산을 통해 구한 이동평균값: 99    0.615385
Name: MA, dtype: float64

In [132]:
sortedData.iloc[93:106,:]

    REGIONID    PRODUCT YEARWEEK  QTY        MA
93       A00  PRODUCT58   201408    0  0.000000
94       A00  PRODUCT58   201409    0  0.000000
95       A00  PRODUCT58   201410    0  0.000000
96       A00  PRODUCT58   201411    0  0.000000
97       A00  PRODUCT58   201412    0  0.000000
98       A00  PRODUCT58   201413    0  0.384615
99       A00  PRODUCT58   201414    0  0.615385
100      A00  PRODUCT58   201415    0  1.846154
101      A00  PRODUCT58   201416    0  2.461538
102      A00  PRODUCT58   201417    0  3.307692
103      A00  PRODUCT58   201418    0  4.384615
104      A00  PRODUCT58   201419    5  5.384615
105      A00  PRODUCT58   201420    3  5.692308

In [135]:
# 디버깅 함수
# 99 번 이동평균
point = 99

def debugEx(point):
    #val1 = sortedData["QTY"][203:216] 판매량의 이동평균 구간 인덱싱하여 평균
    val1=sortedData['QTY'][point-suborder:(point+suborder)+1].mean() 
    #롤링 연산을 통해 구한 값
    val2 = sortedData["MA"][point:point+1]
    print(val1)
    print(val2)
    
#     # val1과 val2가 같으면 이동평균 로직 제대로 구현 => pass, 그렇지 않다면 => fail
#     if val1 == sortedData.loc[point:point,['MA']]: 
#         print("pass")
#     else:
#         print("fail")

debugEx(point)

0.6153846153846154
99    0.615385
Name: MA, dtype: float64

### 4. 이동평균 빈셀 채우기

In [136]:
maxLength = len(sortedData)
maxLength

64999

- 앞쪽 빈칸 채우기

In [142]:
prelist=[] # 앞단
for i in range(0,suborder):
    prelist.append(sortedData["QTY"][0:i+suborder].mean())
    sortedData.loc[i,"MA"]= prelist[i]
print(prelist)
sortedData.head(13)

[564.8333333333334, 542.2857142857143, 520.0, 514.4444444444445, 516.8, 503.3636363636364]

   REGIONID    PRODUCT YEARWEEK  QTY          MA
0       A00  PRODUCT34   201401  661  564.833333
1       A00  PRODUCT34   201402  679  542.285714
2       A00  PRODUCT34   201403  578  520.000000
3       A00  PRODUCT34   201404  532  514.444444
4       A00  PRODUCT34   201405  516  516.800000
5       A00  PRODUCT34   201406  423  503.363636
6       A00  PRODUCT34   201407  407  480.230769
7       A00  PRODUCT34   201408  364  453.384615
8       A00  PRODUCT34   201409  470  423.846154
9       A00  PRODUCT34   201410  538  401.230769
10      A00  PRODUCT34   201411  369  378.538462
11      A00  PRODUCT34   201412  352  352.692308
12      A00  PRODUCT34   201413  354  332.538462

- 뒤쪽 빈칸 채우기

In [143]:
postList = [] #뒤단
maxLength = len(sortedData)
for i in range(0,suborder):
    postList.append(sortedData["QTY"][-(i+suborder+1):maxLength].mean())    
    sortedData.loc[maxLength-i-1,"MA"]= postList[i]
print(postList)
sortedData.tail(15)

[3981.714285714286, 3975.25, 3926.0, 3900.5, 3814.3636363636365, 3837.25]

      REGIONID    PRODUCT YEARWEEK   QTY           MA
64984      A77  PRODUCT12   201514  4560  3528.615385
64985      A77  PRODUCT12   201515  3899  3650.153846
64986      A77  PRODUCT12   201516  2798  3606.615385
64987      A77  PRODUCT12   201517  4089  3614.384615
64988      A77  PRODUCT12   201518  2953  3676.615385
64989      A77  PRODUCT12   201520  3671  3666.846154
64990      A77  PRODUCT12   201533  3532  3712.230769
64991      A77  PRODUCT12   201535  3930  3737.384615
64992      A77  PRODUCT12   201536  3142  3757.307692
64993      A77  PRODUCT12   201538  2783  3837.250000
64994      A77  PRODUCT12   201541  4052  3814.363636
64995      A77  PRODUCT12   201542  4530  3900.500000
64996      A77  PRODUCT12   201606  4320  3926.000000
64997      A77  PRODUCT12   201622  4887  3975.250000
64998      A77  PRODUCT12   201625  4158  3981.714286

- 계절성 지수 산출

In [145]:
sortedData["RATIO"] = sortedData["QTY"]/sortedData["MA"]
sortedData.head()

  REGIONID    PRODUCT YEARWEEK  QTY          MA     RATIO
0      A00  PRODUCT34   201401  661  564.833333  1.170257
1      A00  PRODUCT34   201402  679  542.285714  1.252107
2      A00  PRODUCT34   201403  578  520.000000  1.111538
3      A00  PRODUCT34   201404  532  514.444444  1.034125
4      A00  PRODUCT34   201405  516  516.800000  0.998452

### 5. 그룹핑 + 롤링함수

In [ ]:
# 하지만 이동평균이 잘 구해진것 같지만 롤링이 제대로 안되었다.
# 이동평균을 그룹핑 안하고 돌리니까, ST0001 -> ST0002로 넘어갈때, 갑자기 값이 달라진다.

# GROUR BY 해서 롤링하는 방법을 알아야 한다.

In [146]:
def sub_function(data):
    data["MA"] = data["QTY"].rolling(window = order, center =True).mean()
    return data

In [148]:
# apply 적용하면 groupby 된 data 가 자동으로 함수 전달인자로 들어간다.
groupResult = sortedData.groupby(["REGIONID", "PRODUCT"]).apply(sub_function)
groupResult.head()

  REGIONID    PRODUCT YEARWEEK  QTY  MA     RATIO
0      A00  PRODUCT34   201401  661 NaN  1.170257
1      A00  PRODUCT34   201402  679 NaN  1.252107
2      A00  PRODUCT34   201403  578 NaN  1.111538
3      A00  PRODUCT34   201404  532 NaN  1.034125
4      A00  PRODUCT34   201405  516 NaN  0.998452

In [149]:
#인덱스 초기화
grouping=groupResult.reset_index(drop=True)
grouping.head()

  REGIONID    PRODUCT YEARWEEK  QTY  MA     RATIO
0      A00  PRODUCT34   201401  661 NaN  1.170257
1      A00  PRODUCT34   201402  679 NaN  1.252107
2      A00  PRODUCT34   201403  578 NaN  1.111538
3      A00  PRODUCT34   201404  532 NaN  1.034125
4      A00  PRODUCT34   201405  516 NaN  0.998452

In [150]:
#DataFrame의 isnull 함수를 이용해 결측치를 확인한다
grouping.isnull()

      REGIONID PRODUCT YEARWEEK    QTY     MA  RATIO
0        False   False    False  False   True  False
1        False   False    False  False   True  False
2        False   False    False  False   True  False
3        False   False    False  False   True  False
4        False   False    False  False   True  False
5        False   False    False  False   True  False
6        False   False    False  False  False  False
7        False   False    False  False  False  False
8        False   False    False  False  False  False
9        False   False    False  False  False  False
10       False   False    False  False  False  False
11       False   False    False  False  False  False
12       False   False    False  False  False  False
13       False   False    False  False  False  False
14       False   False    False  False  False  False
15       False   False    False  False  False  False
16       False   False    False  False  False  False
17       False   False    False  False  False  False
18       False   False    False  False  False  False
19       False   False    False  False  False  False
20       False   False    False  False  False  False
21       False   False    False  False  False  False
22       False   False    False  False  False  False
23       False   False    False  False  False  False
24       False   False    False  False  False  False
25       False   False    False  False  False  False
26       False   False    False  False  False  False
27       False   False    False  False  False  False
28       False   False    False  False  False  False
29       False   False    False  False  False  False
...        ...     ...      ...    ...    ...    ...
64969    False   False    False  False  False  False
64970    False   False    False  False  False  False
64971    False   False    False  False  False  False
64972    False   False    False  False  False  False
64973    False   False    False  False  False  False
64974    False   False    False  False  False  False
64975    False   False    False  False  False  False
64976    False   False    False  False  False  False
64977    False   False    False  False  False  False
64978    False   False    False  False  False  False
64979    False   False    False  False  False  False
64980    False   False    False  False  False  False
64981    False   False    False  False  False  False
64982    False   False    False  False  False  False
64983    False   False    False  False  False  False
64984    False   False    False  False  False  False
64985    False   False    False  False  False  False
64986    False   False    False  False  False  False
64987    False   False    False  False  False  False
64988    False   False    False  False  False  False
64989    False   False    False  False  False  False
64990    False   False    False  False  False  False
64991    False   False    False  False  False  False
64992    False   False    False  False  False  False
64993    False   False    False  False   True  False
64994    False   False    False  False   True  False
64995    False   False    False  False   True  False
64996    False   False    False  False   True  False
64997    False   False    False  False   True  False
64998    False   False    False  False   True  False

[64999 rows x 6 columns]

In [152]:
#Data Frame의 fillna함수를 사용해 전체 프레임의 결측치를 상수 0으로 채워 보정
grouping.fillna(0,inplace="True")
grouping

      REGIONID    PRODUCT YEARWEEK   QTY           MA     RATIO
0          A00  PRODUCT34   201401   661     0.000000  1.170257
1          A00  PRODUCT34   201402   679     0.000000  1.252107
2          A00  PRODUCT34   201403   578     0.000000  1.111538
3          A00  PRODUCT34   201404   532     0.000000  1.034125
4          A00  PRODUCT34   201405   516     0.000000  0.998452
5          A00  PRODUCT34   201406   423     0.000000  0.840347
6          A00  PRODUCT34   201407   407   480.230769  0.847509
7          A00  PRODUCT34   201408   364   453.384615  0.802850
8          A00  PRODUCT34   201409   470   423.846154  1.108893
9          A00  PRODUCT34   201410   538   401.230769  1.340874
10         A00  PRODUCT34   201411   369   378.538462  0.974802
11         A00  PRODUCT34   201412   352   352.692308  0.998037
12         A00  PRODUCT34   201413   354   332.538462  1.064539
13         A00  PRODUCT34   201414   312   312.000000  1.000000
14         A00  PRODUCT34   201415   295   292.923077  1.007090
15         A00  PRODUCT34   201416   284   264.307692  1.074505
16         A00  PRODUCT34   201417   237   229.307692  1.033546
17         A00  PRODUCT34   201418   180   206.384615  0.872158
18         A00  PRODUCT34   201419   161   184.307692  0.873539
19         A00  PRODUCT34   201420   140   161.692308  0.865842
20         A00  PRODUCT34   201421   116   144.000000  0.805556
21         A00  PRODUCT34   201422    98   132.923077  0.737269
22         A00  PRODUCT34   201423    83   132.153846  0.628056
23         A00  PRODUCT34   201424    71   154.846154  0.458520
24         A00  PRODUCT34   201425    65   175.538462  0.370289
25         A00  PRODUCT34   201426    60   196.461538  0.305403
26         A00  PRODUCT34   201427    82   213.692308  0.383729
27         A00  PRODUCT34   201428   151   231.384615  0.652593
28         A00  PRODUCT34   201429   274   247.846154  1.105525
29         A00  PRODUCT34   201430   532   260.230769  2.044339
...        ...        ...      ...   ...          ...       ...
64969      A77  PRODUCT12   201451  3485  3184.846154  1.094244
64970      A77  PRODUCT12   201452  2080  3359.076923  0.619218
64971      A77  PRODUCT12   201501  5028  3389.923077  1.483219
64972      A77  PRODUCT12   201502  3183  3386.000000  0.940047
64973      A77  PRODUCT12   201503  2484  3370.000000  0.737092
64974      A77  PRODUCT12   201504  4150  3415.230769  1.215145
64975      A77  PRODUCT12   201505  4950  3392.615385  1.459051
64976      A77  PRODUCT12   201506  4046  3482.769231  1.161719
64977      A77  PRODUCT12   201507  2715  3609.692308  0.752142
64978      A77  PRODUCT12   201508  2350  3573.692308  0.657583
64979      A77  PRODUCT12   201509  3708  3628.769231  1.021834
64980      A77  PRODUCT12   201510  2682  3652.923077  0.734207
64981      A77  PRODUCT12   201511  3243  3648.230769  0.888924
64982      A77  PRODUCT12   201512  4657  3494.615385  1.332622
64983      A77  PRODUCT12   201513  3730  3465.769231  1.076240
64984      A77  PRODUCT12   201514  4560  3528.615385  1.292292
64985      A77  PRODUCT12   201515  3899  3650.153846  1.068174
64986      A77  PRODUCT12   201516  2798  3606.615385  0.775797
64987      A77  PRODUCT12   201517  4089  3614.384615  1.131313
64988      A77  PRODUCT12   201518  2953  3676.615385  0.803184
64989      A77  PRODUCT12   201520  3671  3666.846154  1.001133
64990      A77  PRODUCT12   201533  3532  3712.230769  0.951449
64991      A77  PRODUCT12   201535  3930  3737.384615  1.051537
64992      A77  PRODUCT12   201536  3142  3757.307692  0.836237
64993      A77  PRODUCT12   201538  2783     0.000000  0.725259
64994      A77  PRODUCT12   201541  4052     0.000000  1.062300
64995      A77  PRODUCT12   201542  4530     0.000000  1.161390
64996      A77  PRODUCT12   201606  4320     0.000000  1.100357
64997      A77  PRODUCT12   201622  4887     0.000000  1.229357
64998      A77  PRODUCT12   201625  4158     0.000000  1.044274

[64999 rows x 6 columns]

In [157]:
#결측치 보정이 제대로 되었는지 컬럼별로 확인
#컬럼별 값들의 갯수는 자동으로 내림차순으로 보여줌(가장 개수가 많은 순으로)
print(grouping["REGIONID"].value_counts())
print(grouping["PRODUCT"].value_counts())

print('-'*30+"모든 컬럼 확인"+ '-'*30)
[grouping[x].value_counts() for x in customerData.columns]

A39    2481
A14    2052
A01    1947
A13    1898
A16    1889
A05    1564
A26    1539
A15    1528
A08    1515
A56    1484
A04    1476
A09    1446
A02    1431
A23    1411
A03    1396
A10    1349
A21    1344
A12    1335
A17    1328
A18    1326
A24    1324
A27    1317
A07    1312
A32    1299
A48    1267
A28    1265
A59    1232
A51    1232
A40    1230
A52    1226
       ...
A58     836
A44     817
A06     711
A38     664
A22     641
A34     328
A47     324
A41     316
A20     259
A66     258
A29     258
A63     258
A00     258
A55     255
A67     255
A69     255
A54     253
A42     252
A70     251
A53     250
A46     250
A68     249
A31     246
A35     245
A33     243
A37     243
A61     243
A19     240
A77     159
A36      83
Name: REGIONID, dtype: int64
PRODUCT59    5599
PRODUCT34    5514
PRODUCT58    5512
PRODUCT12    3922
PRODUCT56    3680
PRODUCT33    3676
PRODUCT1     3268
PRODUCT60    3189
PRODUCT57    3113
PRODUCT47    3110
PRODUCT4     2787
PRODUCT63    2784
PRODUCT16    2542
PRODUCT15    2541
PRODUCT14    2377
PRODUCT40    2197
PRODUCT62    1719
PRODUCT2      738
PRODUCT36     657
PRODUCT61     647
PRODUCT17     572
PRODUCT6      333
PRODUCT26     244
PRODUCT41     243
PRODUCT64     243
PRODUCT74     243
PRODUCT51     242
PRODUCT8      164
PRODUCT5      164
PRODUCT7      164
PRODUCT19     164
PRODUCT42     164
PRODUCT20     164
PRODUCT75     163
PRODUCT38     162
PRODUCT49     160
PRODUCT13     160
PRODUCT48     160
PRODUCT25     158
PRODUCT72     157
PRODUCT52      83
PRODUCT66      82
PRODUCT50      81
PRODUCT10      81
PRODUCT76      81
PRODUCT37      81
PRODUCT67      81
PRODUCT53      80
PRODUCT27      80
PRODUCT29      79
PRODUCT73      79
PRODUCT28      79
PRODUCT35      79
PRODUCT68      79
PRODUCT3       78
Name: PRODUCT, dtype: int64
------------------------------모든 컬럼 확인------------------------------

[A39    2481
 A14    2052
 A01    1947
 A13    1898
 A16    1889
 A05    1564
 A26    1539
 A15    1528
 A08    1515
 A56    1484
 A04    1476
 A09    1446
 A02    1431
 A23    1411
 A03    1396
 A10    1349
 A21    1344
 A12    1335
 A17    1328
 A18    1326
 A24    1324
 A27    1317
 A07    1312
 A32    1299
 A48    1267
 A28    1265
 A59    1232
 A51    1232
 A40    1230
 A52    1226
        ...
 A58     836
 A44     817
 A06     711
 A38     664
 A22     641
 A34     328
 A47     324
 A41     316
 A20     259
 A66     258
 A29     258
 A63     258
 A00     258
 A55     255
 A67     255
 A69     255
 A54     253
 A42     252
 A70     251
 A53     250
 A46     250
 A68     249
 A31     246
 A35     245
 A33     243
 A37     243
 A61     243
 A19     240
 A77     159
 A36      83
 Name: REGIONID, dtype: int64, PRODUCT59    5599
 PRODUCT34    5514
 PRODUCT58    5512
 PRODUCT12    3922
 PRODUCT56    3680
 PRODUCT33    3676
 PRODUCT1     3268
 PRODUCT60    3189
 PRODUCT57    3113
 PRODUCT47    3110
 PRODUCT4     2787
 PRODUCT63    2784
 PRODUCT16    2542
 PRODUCT15    2541
 PRODUCT14    2377
 PRODUCT40    2197
 PRODUCT62    1719
 PRODUCT2      738
 PRODUCT36     657
 PRODUCT61     647
 PRODUCT17     572
 PRODUCT6      333
 PRODUCT26     244
 PRODUCT41     243
 PRODUCT64     243
 PRODUCT74     243
 PRODUCT51     242
 PRODUCT8      164
 PRODUCT5      164
 PRODUCT7      164
 PRODUCT19     164
 PRODUCT42     164
 PRODUCT20     164
 PRODUCT75     163
 PRODUCT38     162
 PRODUCT49     160
 PRODUCT13     160
 PRODUCT48     160
 PRODUCT25     158
 PRODUCT72     157
 PRODUCT52      83
 PRODUCT66      82
 PRODUCT50      81
 PRODUCT10      81
 PRODUCT76      81
 PRODUCT37      81
 PRODUCT67      81
 PRODUCT53      80
 PRODUCT27      80
 PRODUCT29      79
 PRODUCT73      79
 PRODUCT28      79
 PRODUCT35      79
 PRODUCT68      79
 PRODUCT3       78
 Name: PRODUCT, dtype: int64, 201409    794
 201434    794
 201506    794
 201418    794
 201407    794
 201504    794
 201435    794
 201447    794
 201452    794
 201517    794
 201406    794
 201436    794
 201446    794
 201417    794
 201405    794
 201410    794
 201408    794
 201444    794
 201402    794
 201429    794
 201431    794
 201403    794
 201442    794
 201426    794
 201512    794
 201425    794
 201420    794
 201421    794
 201450    794
 201513    794
          ...
 201552    229
 201625    227
 201521    219
 201548    217
 201604    180
 201622    178
 201542    167
 201607    157
 201623    153
 201620    148
 201528    143
 201553    142
 201523    138
 201546    117
 201626    114
 201537    100
 201544     95
 201549     77
 201617     66
 201530     63
 201606     51
 201534     49
 201551     45
 201531     39
 201602     23
 201601     20
 201526     20
 201547     19
 201624     14
 201525     11
 Name: YEARWEEK, dtype: int64, 0         6251
 1         1248
 2          856
 3          705
 4          589
 5          537
 6          464
 7          455
 8          402
 9          380
 11         345
 10         332
 12         308
 13         286
 14         268
 17         239
 15         237
 18         231
 16         231
 19         218
 20         202
 22         189
 26         185
 31         177
 21         176
 32         174
 27         174
 34         172
 28         172
 29         171
           ...
 9204         1
 144772       1
 7155         1
 2237         1
 44005        1
 37858        1
 9172         1
 7123         1
 6335         1
 9236         1
 15383        1
 7283         1
 78902        1
 210006       1
 11349        1
 247973       1
 37954        1
 21562        1
 85049        1
 17464        1
 11317        1
 19481        1
 9268         1
 7219         1
 43177        1
 73912        1
 33824        1
 29726        1
 25628        1
 10581        1
 Name: QTY, dtype: int64]